#sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #495055;
  color: white;
  overflow-x: hidden;
  .sidebar-body {
    padding: 10px 20px;
  }
}

.sidebar-header {
  padding: 15px 20px;
  padding-bottom: 10px;
  background-color: #2386c9;
}
