<div id="dashboard" class="row">
    <div class="col-9">
        <div class="doughnut-box">
            <ng-container *ngFor="let data of doughnuts">
                <app-doughnut [chartValues]="data"></app-doughnut>
            </ng-container>
        </div>
        <div class="line-box">
            <app-line-chart></app-line-chart>
        </div>
        <div class="line-box">
            <app-bubble-chart></app-bubble-chart>
        </div>
    </div>
    <div class="col-3">

        <div class="prevented-loss">
            <p>Header</p>
            <div class="body">
                <h2>444, 444 $</h2>
            </div>
        </div>
        <div *ngIf="pieData" class="pie-box">
            <app-pie [chartValues]="pieData"></app-pie>
        </div>
    </div>
</div>