.doughnut-box {
  display: flex;
  justify-content: space-around;
}

#dashboard {
  padding: 25px 5px;
  max-width: 100%;
  .row {
    align-items: center;
  }
  &.row {
    margin: 0 0 0 0;
  }
}

.col-9 > div,
.col-3 > div {
  margin-bottom: 30px;
}

.box {
  border: 3px solid #8499c5;
  border-radius: 5px;
  padding: 20px;
}

